
<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = _p('Archives');
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
if (pageTitle.length == 0) {
    pageTitle = config.title;
} else {
    pageTitle += ' - ' + config.title;
}
%>

<!DOCTYPE html>
<html lang="<%=theme.language%>">
<head>
  <meta charset="UTF-8">
    <!--<meta name="viewport" content="initial-scale=1, maximum-scale=1">-->
  <title><%=pageTitle%></title>

  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from config.yml -->
    <% theme.stylesheets.forEach(function(url) { %>
      <link rel="stylesheet" href="<%=url_for(url)%>">
    <% }); %>
  <% } %>
</head>
<body>

<div id="wrapper">
    <div id="eleme-menu-outer">
        <a href="<%=url_for('/')%>"><img src="<%=url_for('/img/eleme-logo.png')%>"></a>
        <div id="menu-inner">
            <% Object.keys(theme.menu).forEach(function(key) { %>
            <a href="<%=url_for(theme.menu[key])%>"><%=_p(key)%></a>
            <% }); %>
        </div>
    </div>

    <div id="eleme-content-outer">
        <div id="content-inner">
            <%- body %>
        </div>
    </div>

    <div id="eleme-bottom-outer">
        <div id="bottom-inner">
            <p class="eleme-copyright">&copy; copyright 2016 by <%=config.title%></p>
            <p class="eleme-theme-copyright">eleme-mobile hexo theme by <a target="_blank" href="https://github.com/stephenwzl">stephenw</a></p>
            <br>
        </div>
    </div>
    <% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
    <% theme.scripts.forEach(function(url) { %>
    <script src="<%=url_for(url)%>"></script>
    <% }); %>
    <% } %>
</div>

</body>
</html>
