<article id="post">
    <h1 class="post-title"><%= page.title %></h1>
    <p class="post-meta">
        <% if (page.date) { %>
        <span class="release">发表于
            <time datetime="<%= page.date.toJSON() %>">
            <%= date(page.date) %>
            </time>
        </span>
        <% } %>
        <% if (page.categories.data.length > 0) { %>
        <span>&nbsp;分类: <a href="<%= url_for(page.categories.data[0].path) %>"><%= page.categories.data[0].name %></a></span>
        <% } %>
        <% if (page.author) { %>
        <span class="author">&nbsp;authored by <a target="_blank" href="https://github.com/<%=page.author%>"><%= page.author %></a></span>
        <% } %>
    </p>
    <div class="post-wrapper">
        <%- page.content %>
    </div>
    <% if(theme.comment) {%>
    <div id="disqus_thread"></div>
    <script>

        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */

        var disqus_config = function () {
            this.page.url = '<%=config.url%>';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '<%=url_for(page.path)%>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '<%=theme.disqusurl%>';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    <% } %>
</article>

<%- partial('partials/pagination') %>
